.toast {
    --color-error: rgb(223, 60, 60);
    --color-success: var(--color-accent);

    position: sticky;
    z-index: 1000;
    justify-self: end;
    bottom: 30px;
    opacity: 0;
    margin-right: 30px;
    translate: 100vw;
    transition: var(--transition-duration);

    &.is-open {
        opacity: 1;
        translate: 0;
    }

    &__container {
        width: 200px;
        height: 100px;
        
        &-notification {
            backdrop-filter: blur(5px);
            width: 100%;
            height: 100%;
            border-width: var(--border-width-2);
            border-style: solid;
            display: flex;
            justify-content: center;
            align-items: center;

            &.disallow {
                border-color: var(--color-error);
                color: var(--color-error);
            }

            &.allow {
                border-color: var(--color-success);
                color: var(--color-success);
            }

            & .notification {
                font-size: 18px;
            }
        }
    }
}