.trust {
    margin-top: 75px;

    &-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__brands {
        &-list {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }

    &__cta {
        max-width: 573px;
        padding-block: 33px;
        padding-inline: 30px;
        border: var(--border);
        display: flex;
        align-items: center;
        gap: 28px;

        &-description {
            font-size: 18px;
            line-height: 167%;
            text-transform: capitalize;
            color: var(--color-gray-1);
        }

        &-actions {
            display: flex;
            gap: 16px;
        }
        
        &-button {
            height: 58px;
            padding-inline: 24px;
            text-transform: capitalize;
            font-weight: 700;
            line-height: 163%;

            &:first-child {
                background-color: transparent;
                border: var(--border-width-1) solid var(--color-white);
                color: var(--color-white);

                &:hover {
                    background-color: var(--color-white);
                    color: var(--color-black);
                }
            }

            &:last-child {
                border: var(--border-width-1) solid var(--color-accent);
                background-color: var(--color-accent);

                &:hover {
                    background-color: transparent;
                    color: var(--color-accent);
                }
            }
        }
    }
}