.header {
    position: fixed;
    top: 38px;
    left: 0;
    right: 0;
    z-index: 100;
    display: inline-flex;
    align-items: center;
    height: 58px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__menu {
        max-width: 389px;
        width: 100%;
        margin-left: 55px;

        &-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-link {
            text-transform: capitalize;
            line-height: 163%;

            &:focus {
                position: relative;
                color: var(--color-accent);

                &::after {
                    content: '';
                    position: absolute;
                    @include square(4px);
                    border-radius: var(--border-radius-100);
                    background-color: var(--color-accent);
                    bottom: -5px;
                    left: 50%;
                    translate: -50% 0px;
                }
            }
        }
    }

    &__actions {
        display: flex;
        gap: 24px;
        margin-left: auto;
    }

    &__button {
        height: 58px;
        padding-inline: 24px;
        background-color: transparent;
        text-transform: capitalize;

        &:first-child {
            @include hover {
                background-color: var(--color-accent);
            }
        }
        
        &:last-child {
            border-width: var(--border-width-1);
            border-style: solid;
            border-color: var(--color-black);

            @include hover {
                background-color: var(--color-black);

                & span {
                    color: var(--color-white) !important;
                }
            }
        }

        & span {
            color: var(--color-black) !important;
        }
    }
}