.marquee {
    --textSize: 329px;

    position: absolute;
    text-transform: uppercase;
    font-size: var(--textSize);
    color: transparent;
    -webkit-text-stroke: 1px #363636;
    z-index: 0;
}